#menu ul li {
    background-color: #000000; /* Green */
    border: none;
    color: white;
    display: inline-block;
    padding: 14px 0px;

  }

#menu ul{
    padding: 15px;
    
}

  #menu ul li a{
      text-decoration: none;
      color: rgb(255, 255, 255);
      padding: 15px 20px;
  }
  #menu ul li a:hover{
      background-color: brown ;
      
    }
   
  label:focus-within {
      background: cornsilk;
  }
 
  td {
    border: rgb(80, 66, 42) 2px solid;

  }

 .Seguretat{
     background: rgb(176, 192, 88);
     color: white;
    
 }

 .Serveis{
     background: greenyellow;
     color: white;
 }

 .Aplicacions{
     background: lightskyblue;
     color: white;
 }

 .EIE{
     background: mediumorchid;
     color: white;
 }
 .Web{
     background: seagreen;
     color: white;
 }

.Sistemes{
    background: red;
    color: white;
}
.Hora{
    background: pink;
}

.dies{
    background: pink;
}
.horari{
    background: orange;
}
.border{
    background: saddlebrown;
}
.border{
    border-color: rgb(46, 83, 139);
}
table td {
    text-align: center;
  }
 
table {
    
    
    border-collapse:  rgb(107, 72, 39);
  }

.pati{
    background: white;
}